.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card-one{
    font-family: 'Ubuntu', sans-serif;
    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    margin: 1.5rem;
    max-width: 350px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
display: flex;
    flex-flow: column;
    justify-content: space-between;
  transition: 0.3s;
  
}
.detail-container{
    padding: 2rem;
    background-color: coral;
    border-radius: 10px;
    margin: 1.5rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}
.readmore-btn{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border-radius:5rem ;
    margin:1rem
}
.readmore-btn:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}
.dog-name,.dog-type,.dog-status,.dog-height,.dog-weight{
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
   font-size: 20px;
}
.first-dog,.second-dog,.third-dog{
  display: flex;
  flex-wrap: wrap;
    max-height: 300px;
    max-width: 300px;
    width: 300px;
    height: 300px;
    border-radius: 2rem;
    
    margin-left: auto;
    margin-right: auto;
    
    /* height: auto; */
   
}
