.card-one-readmore{
    font-family: 'Ubuntu', sans-serif;
    padding: 5rem;
    margin: 5rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1.5rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.right-side-container,.left-side-container{
     display: flex;
   font-size:20px;
    justify-content: center;
    align-items: center;
}
.dog-name-readmore,.dog-type-readmore,
.dog-status-readmore,.dog-height-readmore,
.dog-weight-readmore{
margin:2rem;
}
.dog-color,.dog-hypoallergenic  ,.dog-dietary{
    display: flex;
    flex-flow: column;
    padding: 0.5rem;
   font-size: 20px;
   margin:2rem
}
.dog-bio,.bio-paragraph{
    display: flex;
   font-size:20px;
    justify-content: center;
    align-items: center;
}
.bio-paragraph{
    font-size: 17px;
}
.bio-container{

    padding: 2rem;
    background-color: coral;
    border-radius: 10px;
    margin: 1.5rem;
    box-shadow: 0 2.8px 2.2px
     rgba(0, 0, 0, 0.034), 
     0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06), 
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
      0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
      0 100px 80px rgba(0, 0, 0, 0.12);
}
.save-btn,.adopt-btn{
    color: #fff !important;
    text-decoration: none;
    background: #ed3330;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border-radius:10rem ;
   margin-left:2rem
}
.save-btn:hover,.adopt-btn:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}
.btns-container{
    display: flex;
    justify-content:space-around;
}


