
.add-pet-container{
    font-family: 'Ubuntu', sans-serif;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1.5rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
width: 60%;

}
header{
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    padding: 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 1.5rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
display: flex;
justify-content: center;
}
.add-pet-form{
    margin:4rem
}
.add-pet-form{
    display: flex;
}
.dog-type-input,.dog-name-input,.dog-status-input,.dog-weight-input,.dog-height-input,
.dog-dietary-input,.dog-bio-input,.dog-color-input,.hypo{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width:20rem;
    border-radius: 4px;
    margin :1rem;
    border:1px solid black
}
.add-pet-btn,.submit-photo-btn{
    color: #fff !important;
    text-decoration: none;
    background: #ed3330;
    padding: 7px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    border-radius:5rem ;
    margin:1rem
}
.add-pet-btn:hover,.submit-photo-btn:hover{
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}